@font-face {
    font-family: Chaparral Pro;
    src: url('ChaparralPro-Regular.otf');
}
a {
    text-decoration:none;
}
#blog_header {
    position:relative;
    margin-top: 20px;
    width:500px;
    height:55px;
}

.meta {
    position:absolute; left: 50px; top: 35px;
    list-style-type:none;
    overflow:hidden;
    float:left;
    margin:0;
    padding:0;
}
.meta li {
    float:left;
    margin-right: 3px;
    font-size: 14px;
    color:#701121;
}
.tags {
    font-size:14px;
    float:left;
    margin-top:35px;
    clear:left;
}
#blog_header h2 {
    font-family: "Chaparral Pro";
    margin-left:50px;
    margin-top:5px;
    float:left;
}
#blog_header a {
    color:black;
}
#blog_header a:hover {
    color:red;
}
#blog_content {
    width:500px;
    margin-top:5px;
    clear:both;
}
.blog_date {
    position: absolute; left: 0; top: 0;
    background: #E5E5E2;
    width:45px;
    height:55px;
    float:left;
    font-family: "Helvetica";
}
.blog_date p{
    font-size: 32px;
    font-weight:bold;
    line-height:20px;
    margin-top:10px;
    margin-left:5px;
    float:left;
}
p span {
    font-size:18px;
    text-align:center;
    display:block;
}
/* Formulär börjar */
fieldset {
    font-family: "Chaparral Pro";
    margin-bottom: 5px;
    border-radius: 4px;
    width: 475px;
    border: 1px solid #1F202D;
}
legend {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    background:#1F202D;
    border-radius: 2px;
}
textarea
{
   resize: none;
}
#contact_form {
    width: 500px;
}
#contact_form label {
    width:200px;
    margin-right:5px;
    display:block;
    text-align:right;
    float:left;
}
#contact_form input {
    width: 260px;
    margin-bottom: 2px;
}

#formbutton {
    background:#1F202D;
    width: 80px;
    height: 30px;
    float:right;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #1F202D;
    color:white;
    cursor:pointer;
    text-shadow: 1px 1px 1px #585C5B;
}
#formbutton:hover {
    background:#383A52;
}
/* Formulär slutar */
.hide {
    display:none;
}
/* Till meny - börjar */
a {
    text-shadow: 0.5px 0.5px 0.5px #636361;
}
.menulinks {
    list-style-type:none;
    margin:0;
    padding:0;
}
.stylelinks {
    text-decoration:none;
    display:block; 
    color: #0A072A;
}
#menu p {
    font-variant:small-caps;
    font-size: 22px;
    letter-spacing: 1px;
}
.active a {
    color:#95682D;
}
a:hover {
    color: red;
}
/* Till meny - slutar */
/* Bilder för header - börjar */
#logotype {
    margin-top: 100px;
    margin-left: 5px;
}
#text_header {
    margin-top: 110px;
    margin-right: 120px;
    width: 480px;
    float:right;
}
/* Bilder för header - slutar */
/* Layout börjar */
#pagecontainer {
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    width: 800px;
    background: #E2DEAD;
}
#header {
    background-image: url("pics/Border.png");
    background-size:contain;
    background-repeat:no-repeat;
}
#content {
    width: 800px;
    margin-bottom: 5px;
    background: #AFAD86;
    float:left;
}
#menu {
    font-family: "Chaparral Pro";
    font-size: 18px;
    color: #0A072A;
    width: 200px;
    background: #AFAD86;
    float:left;
    text-align:center;
}
#subcontent {
    font-family: "Chaparral Pro";
    width: 600px;
    background: #AFAD86;
    min-height:250px;
    float:right;
}
#footer{
    margin-top: 5px;
    padding: 5px;
    height: 50px;
    font-family: "Chaparral Pro";
    font-size: 14px;
    text-align: center;
    clear: both;
    color: white;
    background: #1F202D;
}
/* Layout slutar */